<div class="wrapper">
  <app-header></app-header>
  <app-menu></app-menu>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Gerenciamento de Caixas
        <small>Versão 2.0</small>
      </h1>
      <ol class="breadcrumb">
        <li><a [routerLink]="['/admin/dashboard']"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Gerenciamento de Caixas</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="col-md-12">
        <div class="card">
          <div class="box box-primary">
            <button style="margin: 16px;" (click)="add()" class="btn btn-primary">
              Adicionar Caixa
            </button>
            <p-dialog header="Cadastro de Caixa" [(visible)]="display">
              <label>Nome do Caixa</label>
              <input class="form-control" [(ngModel)]="caixas.nome" />
              <p-footer>
                <button type="button" pButton icon="pi pi-check" label="Confirmar" (click)="aceitar(caixas)"></button>
                <button type="button" class="ui-button-danger" pButton icon="pi pi-times" label="Cancelar"
                  (click)="display=false"></button>
              </p-footer>
            </p-dialog>
            <p-fieldset legend="Caixas Cadastrados" [toggleable]="true">
              <p-table #dt [columns]="cols" [value]="listUsers" [paginator]="true" [rows]="10"
                [resizableColumns]="true">

                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th>Nome </th>
                    <th>Data de Cadastro </th>
                    <th>Cadastrado por </th>
                    <th>Situação </th>
                    <th style="width: 115px;">Ações</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                  <tr [pSelectableRow]="user">
                    <td>{{ user.nome }}</td>
                    <td>{{ user.data_cadastro }}</td>
                    <td>{{ user.user_cad }}</td>
                    <td *ngIf="user.status"><span class="label label-success">ABERTO</span></td>
                    <td *ngIf="!user.status"><span class="label label-danger">FECHADO</span></td>
                    <td style="width: 115px;">
                      <button (click)="update(user)" class="btn btn-success"><i class="fa fa-edit"></i></button>
                      &nbsp;
                      <button (click)="delete(user)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                  Caixas cadastrados {{listUsers?.length}}.
                </ng-template>
              </p-table>
            </p-fieldset>
            <p-confirmDialog #cd header="Exclusão de Caixa" icon="pi pi-exclamation-triangle">
              <p-footer>
                <button type="button" pButton icon="pi pi-check" label="Confirmar" (click)="cd.accept()"></button>
                <button type="button" class="ui-button-danger" pButton icon="pi pi-times" label="Cancelar"
                  (click)="cd.reject()"></button>
              </p-footer>
            </p-confirmDialog>
            <!-- editar categoria -->
            <p-dialog header="Editar Caixa" [(visible)]="display2">
              <label>Nome</label>
              <input class="form-control" [(ngModel)]="caixas.nome" />
              <br>
              <p-footer>
                <button type="button" pButton icon="pi pi-check" label="Atualizar"
                  (click)="atualizar(caixas)"></button>
                <button type="button" class="ui-button-danger" pButton icon="pi pi-times" label="Cancelar"
                  (click)="display2=false"></button>
              </p-footer>
            </p-dialog>
            <!--fim editar categoria-->
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <app-footer></app-footer>
  <!-- /.login-box -->

  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
  </ngx-loading>
</div>
<!-- ./wrapper -->