<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <img [src]="users?.imagePath" class="img-circle" alt="User Image">
      </div>
      <div class="pull-left info">
        <p>{{ users?.name }}</p>
        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
      </div>
    </div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Pesquisar...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu" data-widget="tree">
      <li class="header">MENU DE NAVEGAÇÃO</li>
      <li routerLinkActive="active">
        <a [routerLink]="['/admin/dashboard']">
          <i class="fa fa-tachometer"></i>
          <span>DASHBOARD</span>
        </a>
      </li>
      <li class="treeview link-pointer" routerLinkActive="active menu-open">
        <a>
          <i class="fa fa-newspaper-o"></i> <span>OPERAÇÕES</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="" routerLinkActive="active"><a [routerLink]="['/admin/clientes']"><i
                class="fa fa-users"></i>CLIENTES</a></li>
          <li class="" routerLinkActive="active"><a [routerLink]="['/admin/categorias']"><i
                class="fa fa-tags"></i>CATEGORIAS</a></li>
          <li class="" routerLinkActive="active"><a [routerLink]="['/admin/departamentos']"><i
                class="fa fa-cubes"></i>DEPARTAMENTOS</a></li>
          <li class="" routerLinkActive="active"><a [routerLink]="['/admin/fornecedores']"><i
                class="fa fa-truck"></i>FORNECEDORES</a></li>
          <li class="" routerLinkActive="active"><a [routerLink]="['/admin/produtos']"><i
                class="fa fa-shopping-cart"></i>PRODUTOS</a></li>
          <li class="" routerLinkActive="active"><a [routerLink]="['/admin/usuarios']"><i
                class="fa fa-user"></i>USUÁRIOS</a></li>
          <li class="" routerLinkActive="active"><a [routerLink]="['/admin/promocoes']"><i
                class="fa fa-shopping-basket"></i>PROMOÇÕES</a></li>
        </ul>
      </li>
      <li class="treeview link-pointer" routerLinkActive="active menu-open">
        <a>
          <i class="fa fa-pie-chart"></i> <span>ESTOQUE</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="" routerLinkActive="active"><a [routerLink]="['/admin/estoque-baixo']"><i
                class="fa fa-exclamation-triangle"></i>ESTOQUE BAIXO</a></li>
          <li class="" routerLinkActive="active"><a [routerLink]="['/admin/entrada-estoque']"><i
                class="fa fa-arrow-circle-right"></i>ENTRADA DE ESTOQUE</a></li>
          <li class="" routerLinkActive="active"><a [routerLink]="['/admin/saida-estoque']"><i
                class="fa fa-arrow-circle-left"></i>SAÍDA DE ESTOQUE</a></li>
        </ul>
      </li>
      <!-- <li class="treeview link-pointer" routerLinkActive="active menu-open">
        <a>
          <i class="fa fa-laptop"></i> <span>FINANCEIRO</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="" routerLinkActive="active"><a [routerLink]="['/admin/despesas']">
            <i class="fa fa-users"></i>FLUXO DE CAIXA</a>
          </li>
          <li class="" routerLinkActive="active"><a [routerLink]="['/admin/vendas']">
            <i class="fa fa-tags"></i>MOVIMENTAÇÃO DE CAIXA</a>
          </li>
          <li class="" routerLinkActive="active"><a [routerLink]="['/admin/despesas']">
            <i class="fa fa-users"></i> PAGAMENTOS</a>
          </li>
          <li class="" routerLinkActive="active"><a [routerLink]="['/admin/vendas']"><i
                class="fa fa-tags"></i>MOVIMENTAÇÃO DE CAIXA</a>
          </li>
          <li class="" routerLinkActive="active"><a [routerLink]="['/admin/despesas']"><i class="fa fa-users"></i>FLUXO
              DE CAIXA</a>
          </li>
          <li class="" routerLinkActive="active"><a [routerLink]="['/admin/vendas']"><i
                class="fa fa-tags"></i>MOVIMENTAÇÃO DE CAIXA</a>
          </li>
        </ul>
      </li> -->
      <li routerLinkActive="active">
        <a [routerLink]="['/admin/financeiro']">
          <i class="fa fa-dollar"></i>
          <span>FINANCEIRO</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/admin/configuracoes']">
          <i class="fa fa-cogs"></i>
          <span>CONFIGURAÇÕES</span>
        </a>
      </li>
      <li class="treeview link-pointer" routerLinkActive="active menu-open">
        <a>
          <i class="fa fa-line-chart"></i> <span>RELATÓRIOS</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li class="" routerLinkActive="active"><a [routerLink]="['/admin/graficos']"><i
                class="fa fa-users"></i>GRÁFICOS</a></li>
          <li class="" routerLinkActive="active"><a [routerLink]="['/admin/pdf']"><i class="fa fa-tags"></i>VENDAS</a>
          </li>
        </ul>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/admin/suporte']">
          <i class="fa fa-wpforms"></i>
          <span>SUPORTE</span>
        </a>
      </li>

    </ul>
  </section>
  <!-- /.sidebar -->
</aside>