<div class="wrapper">
  <app-header></app-header>
  <app-menu></app-menu>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Movimentação de Caixa
        <small>Versão 2.0</small>
      </h1>
      <ol class="breadcrumb">
        <li><a [routerLink]="['/admin/dashboard']"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Movimentação de Caixa</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Info boxes -->
      <div class="col-md-12">
        <div class="card">
          <div class="box box-primary">
            <p-dialog header="NOVO LANÇAMENTO" [(visible)]="display" [style]="{width: '500px'}">
              <div class="row">
                <div class="form-group">
                  <div class="col-md-6">
                    <label>Tipo de Lançamento</label>
                    <select [(ngModel)]="mov.tipo" class="form-control" (change)="changed($event)">
                      <option [ngValue]="1">Recebimento</option>
                      <option [ngValue]="2">Pagamento</option>
                    </select>
                  </div>

                  <div *ngIf="pg" class="col-md-6">
                    <label>Classificação</label>
                    <select [(ngModel)]="mov.classificacao" class="form-control">
                      <option value="Abatimentos">Abatimentos</option>
                      <option value="Água">Água</option>
                      <option value="Ajuste de Saldo">Ajuste de Saldo</option>
                      <option value="Aluguel">Aluguel</option>
                      <option value="Aluguel de Equipamentos">Aluguel de Equipamentos</option>
                      <option value="Benefícios Salariais">Benefícios Salariais</option>
                      <option value="Brindes">Brindes</option>
                      <option value="Combustíveis e Pedágios">Combustíveis e Pedágios</option>
                      <option value="Comissões de Vendas">Comissões de Vendas</option>
                      <option value="Condomínio">Condomínio</option>
                      <option value="Devoluções">Devoluções</option>
                      <option value="Embalagens">Embalagens</option>
                      <option value="Encargos Salariais">Encargos Salariais</option>
                      <option value="Eventos">Eventos</option>
                      <option value="Fretes">Fretes</option>
                      <option value="Impostos">Impostos</option>
                      <option value="Internet">Internet</option>
                      <option value="IPTU">IPTU</option>
                      <option value="Limpezas">Limpezas</option>
                      <option value="Manutenção">Manutenção</option>
                      <option value="Material de Escritório">Material de Escritório</option>
                      <option value="Mercadoria para Revenda">Mercadoria para Revenda</option>
                      <option value="Outras Despesas">Outras Despesas</option>
                      <option value="Propagandas">Propagandas</option>
                      <option value="Salários">Salários</option>
                      <option value="Tarifas Bancárias">Tarifas Bancárias</option>
                      <option value="Taxa de Cartão">Taxa de Cartão</option>
                      <option value="Telefone">Telefone</option>
                      <option value="Transferências">Transferências</option>
                      <option value="TV a Cabo">TV a Cabo</option>
                      <option value="Viagens e Hospedagem">Viagens e Hospedagem</option>
                    </select>
                  </div>
                  <div *ngIf="!pg" class="col-md-6">
                    <label>Classificação</label>
                    <select [(ngModel)]="mov.classificacao" class="form-control">
                      <option value="Conta Gerencial">Conta Gerencial</option>
                      <option value="Fundo de Reservas">Fundo de Reservas</option>
                      <option value="Ajuste de Saldo">Ajuste de Saldo</option>
                      <option value="Outras Receitas">Outras Receitas</option>
                      <option value="Vendas Avulsas">Vendas Avulsas</option>
                    </select>
                  </div>
                </div>
              </div>
              <div style="margin-top: 16px;" class="row">
                <div class="col-md-6">
                  <label>Vencimento</label>
                  <p-calendar [(ngModel)]="mov.vencimento" [style]="{'width':'106%'}" [inputStyle]="{'width':'79%'}"
                    [showIcon]="true" [monthNavigator]="true" [yearNavigator]="true" yearRange="2010:2030"
                    dateFormat="dd/mm/yy" [locale]="en">
                  </p-calendar>
                </div>
                <div class="col-md-6">
                  <label>Conta Corrente</label>
                  <select [(ngModel)]="mov.conta_corrente" class="form-control" disabled>
                    <option value="Conta Padrão">Conta Padrão</option>
                  </select>
                </div>
              </div>
              <div style="margin-top: 16px" class="row">
                <div *ngIf="!pg" class="col-md-6">
                  <label>Valor Recebido</label>
                  <input [(ngModel)]="mov.valor" type="text" class="form-control" currencyMask
                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                </div>
                <div *ngIf="pg" class="col-md-6">
                  <label>Valor Pagamento</label>
                  <input [(ngModel)]="mov.valor" type="text" class="form-control" currencyMask
                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
                </div>

                <div class="col-md-6">
                  <label>Tipo de Pagamento: </label>
                  <select [(ngModel)]="mov.forma_de_pg" class="form-control">
                    <option value="BOLETO">BOLETO</option>
                    <option value="CARTÃO DE CRÉDITO">CARTÃO DE CRÉDITO</option>
                    <option value="CARTÃO DE DÉBITO">CARTÃO DE DÉBITO</option>
                    <option value="CHEQUE">CHEQUE</option>
                    <option value="DEPÓSITO">DEPÓSITO</option>
                    <option value="DINHEIRO">DINHEIRO</option>
                    <option value="PAGAMENTO DIGITAL">PAGAMENTO DIGITAL</option>
                    <option value="TRANSFERÊNCIA BANCÁRIA">TRANSFERÊNCIA BANCÁRIA</option>
                  </select>
                </div>
              </div>
              <div style="margin-top: 16px" class="row">
                <div class="col-md-12">
                  <label>Observações</label>
                  <textarea [(ngModel)]="mov.obs" class="form-control" rows="5" placeholder="Observações..."></textarea>
                </div>
              </div>
              <div style="margin-top: 16px;" class="row">
                <div class="col-md-12">
                  <button class="btn btn-success btn-block btn-lg" (click)="movimentar(mov)">Efetuar
                    Movimentação</button>
                </div>
              </div>

            </p-dialog>

            <button style="margin: 16px;" class="btn btn-primary" (click)="showModal()">
              Adicionar Movimentação</button>

            <p-dialog header="AVISO!" [(visible)]="display_erros">
              <p>Você não pode informar um valor menor ou igual a R$0,00</p>
              <p-footer>
                <button type="button" pButton icon="pi pi-check" (click)="display_erros=false" label="Entendi"></button>
                <button type="button" pButton icon="pi pi-close" (click)="display_erros=false" label="Fechar"
                  class="ui-button-secondary"></button>
              </p-footer>
            </p-dialog>
            <p-fieldset legend="Movimentações" [toggleable]="true" [collapsed]="false">
              <div class="row">
                <div class="col-md-4">
                  <h3 class="text-success">ENTRADAS: <span>{{ entrada | currency:'BRL':true }}</span></h3>
                </div>
                <div class="col-md-4">
                  <h3 class="text-danger">SAÍDAS: <span>{{ saida | currency:'BRL':true }}</span></h3>
                </div>
                <div class="col-md-4">
                  <h3 class="text-primary">LÍQUIDO: <span>{{ entrada - saida | currency:'BRL':true }}</span></h3>
                </div>
              </div>
              <p-table #dt [columns]="cols" [value]="listUsers" [paginator]="true" [rows]="50"
                [resizableColumns]="true">

                <ng-template pTemplate="header" let-columns>

                  <tr>
                    <th ttResizableColumn> Vencimento </th>
                    <th ttResizableColumn> Classificação </th>
                    <th ttResizableColumn> Processamento </th>
                    <th ttResizableColumn> Tipo de Receita </th>
                    <th ttResizableColumn> Valor </th>
                    <th ttResizableColumn> Forma de PG </th>
                    <th style="width: 115px;">Ações</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                  <tr [pSelectableRow]="user">

                    <td>{{ user.vencimento.toDate() | date:'dd/MM/yyyy' }}</td>
                    <td>{{ user.classificacao }}</td>
                    <td>{{ user.data_pg.toDate() | date:'dd/MM/yyyy' }}</td>
                    <td *ngIf="user.tipo == 1">ENTRADA</td>
                    <td *ngIf="user.tipo == 2">SAÍDA</td>
                    <td>{{ user.valor | currency:'BRL':true }}</td>
                    <td class="text-wrap">{{ user.forma_de_pg}}</td>
                    <td style="width: 115px;">
                      <button (click)="delete(user)" class="btn btn-danger"><i class="fa fa-trash"></i> Excluir</button>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                  Movimentos cadastrados {{listUsers?.length}}.
                </ng-template>
              </p-table>
            </p-fieldset>
            <p-confirmDialog #cd header="Aviso!" icon="pi pi-exclamation-triangle">
              <p-footer>
                <button type="button" pButton icon="pi pi-check" label="Confirmar" (click)="cd.accept()"></button>
                <button type="button" class="ui-button-danger" pButton icon="pi pi-times" label="Cancelar"
                  (click)="cd.reject()"></button>
              </p-footer>
            </p-confirmDialog>
          </div>

        </div>
      </div>
      <!-- /.row -->
    </section>

    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <app-footer></app-footer>
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
  </ngx-loading>
</div>
<!-- ./wrapper -->